	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	.container
	{
		background-color:#c5796d;
		min-height:100vh;
		border:10px solid #000428;
	}
	.content
	{
		max-width:900px;
		margin:0 auto;
	}
	.top-section
	{
		display:flex;
		margin-top:50px;
		justify-content:space-between;
		align-items:flex-end;
	}
	.top-section h1
	{
		font-size:60px;
		font-weight:bold;
		text-transform:uppercase;
		color:#1d1e4c;
		
	}
	.top-section h4
	{
		font-size:30px;
		text-align:end;
		color:#1d1e4c;
	}
	.image-container,img
	{
		width:300px;
		height:320px;
	}
	.image-container
	{
		border-radius:50%;
		overflow:hidden;
	}
	.about-section h2
	{
		font-size:80px;
		font-weight:500;
		color:#1d1e4c;
		margin-bottom:20px;
	}
	.about-section
	{
		margin-top:50px;
	}
	.about-section p
	{
		line-height:30px;;
		letter-spacing:1.2px;
		font-size;20px;
		text-align:justify;
		margin-bottom:20px;
	}
	.Bibliography-section
	{
		margin:50px 0;
	}

	.Bibliography-section h3
	{
		margin-bottom:20px;
		
	}
	.Bibliography-section ul
	{
		margin-left:50px;
	}
	.Bibliography-section li
	{
		margin-bottom:15px;
	}
	footer
	{
		margin:50px 0;
	}
	footer p
	{
		text-align:end;
	}


		
		