
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');
*{
		margin:0;
		padding:0;
		box-sizing:border-box;
}
html,body
{
		line-height:1.4;
		font-weight:300;
		font-family:"roboto",sans-serif;
}
.hero-section
{
		background-image:url("D:/html_study/project2/images/working on computer.jpg");
		min-height:100vh;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		
}
.text-container
{
		color:white;
		max-width:900px;
		margin:0 auto;
		padding-top:64px;
		padding-left:16px;
}
.lg-text
{
		font-size:72px;
		font-weight:400;
}
.black-box
{
		background-color:#000;
		padding:20px;
}
.black-box h2
{
		font-size:72px;
		color:#fff;
		text-align:center;
		font-weight:300;
}
.black-box h2 span
{
		font-weight:400;
		font-size:96px;
}
.work
{
		display:grid;
		grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
		gap:20px;
		margin:30px 40px;
}
.card
{
		max-width:320px;
		height:400px;
		border-radius:10px;
		box-shadow:3px 5px 5px rgba(1,1,1,0.2);
}
.grid-item
{
		display:flex;
		justify-content:center;
		align-items:center;
}
.card-content
{
		padding:20px;
}
.card-content h3
{
		margin-bottom:10px;
}
.card:hover
{
		transform:scale(1.04);
		box-shadow:3px 5px 5px rgba(1,1,1,0.3);
}


