 *{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
html,body
{
	line-height:1.4;
	font-weight:300;
	font-family:"roboto",sans-serif;
	}
Button
{
	padding:10px 15px;
	border:none;
	transition:0.2s ease-in-out;
   }
button:hover
{
	opacity:0.8;
	transition:0.2s ease-in-out;
    }
nav
{
	box-shadow:5px 5px 5px rgba(1,1,1,0.05);
	position:sticky;
	top:0;
	margin-bottom:32px;
	background-color:white;
	padding:10px;
	z-index:50;
   }
.navigation
{
	display:flex;
	justify-content:space-between;
	align-items:center;
	}
.container
{
	max-width:1200px;
    margin:0 auto;
   }
.bar-icon
{
	font-size:32px;
   }
.hero
{
	display:flex;
	gap:100px;
	justify-content:center;
	align-items:center;
   }
.hero-content
{
    display:flex;
	flex-direction:column;
	gap:20px;
   }
.tag
{
	background-color:green;
	padding:5px 10px;
	color:white;
	align-self:self-start;
    }
.hero-content h1
{
	font-size:72px;
	line-height:1.2;
	font-weight:400;
   }
.explore-btn
{
	background-color:orange;
	align-self:self-start;
    }
.features
{
	margin-top:100px;
	display:flex;
	gap:20px;
	justify-content:center;
	margin-bottom:50px;
   }
.feature
{
	display:flex;
	gap:20px;
	padding:20px;
	transition:0.2s ease-in-out;
    }
.feature img
{
	width:62px;
   }
.feature:hover
{
	transition:0.2s ease-in-out;
	box-shadow:5px 5px 5px rgba(1,1,1,0.05);
   }
.divider
{
	border:1px solid #ccc;
	margin:20px 0;
   }
.menu
{
	display:flex;
	flex-direction:column;
	gap:50px;
	margin:50px 0;
	align-items:center;
   }
.menu .tag
{
	align-self:center;
   }
.grid-image
{
	border-radius:10px;
	transition:0.2s ease-in-out;
	width:100%;
	height:100%;
   }
.grid-image:hover
{
	transform:scale(1.05);
	transition:0.2s ease-in-out;
   }
.grid
{
	display:grid;
	gap:10px;
	grid-template-areas:
	"I1 I1 I2 I3"
	"I1 I1 I2 I7"
	"I4 I5 I6 I7";
   }
.item1
{
	grid-area:I1;
   }
.item2
{
	grid-area:I2;
   }
.item3
{
	grid-area:I3;
   }
.item4
{
	grid-area:I4;
   }
.item5
{
	grid-area:I5;
   }
.item6
{
	grid-area:I6;
   }
.item7
{
	grid-area:I7;
   }
footer
{
	background-color:#fff0db;
    }
.link-list h3
{
	margin-bottom:10px;
	color:grey;
   }
.link-list ul
{
	list-style:none;
   }
.link-list ul li
{
	font-size:16px;
	margin-bottom:5px;
   }
.news-letter h3{
	margin-bottom:10px;
	color:grey;
    }
.news-letter input
{
	padding:5px 40px;
	margin-bottom:10px;
   }
.footer-container
{
	padding:30px;
	display:flex;
	justify-content:space-between;
   }
.icon-container
{
	display:flex;
	gap:15px;
	font-size:32px;
   }
	@madia(max-width:786){
		.hero{
			flex-direction:column;
		}
		.hero-image{
			display:flex;
			justify-content:center;
		}
		.hero-image img {
			width:80%;
		}
		.hero-content{
			gap:10px;
			padding:10px;
		}
		.hero-content h1{
			font-size:32px;
		}
		.feature{
			flex-direction:column;
		}
		.grid{
			padding:10px;
		}
		.grid-image{
			border-radius:0px;
		}
		.footer-container{
			flex-direction:column;
		}
	}
   
